.daleh2 {
    color: white;
    font-weight: 600;
    margin-bottom: 22px;
}

.controles {
    background-color: #161616 !important;
    margin-bottom: 25px !important;
}

.inputs {
    padding: 5.5px 20px !important;
    color: #9f9f9f !important;
    border-bottom: 1px solid #1d1d1d !important;
}

.inputs:hover {
    border-bottom: 1px solid #1d1d1d !important;
}

.enviar{
    text-transform: none !important;
    color: white !important;
    font-weight: 400 !important;
    padding: 10px 26px !important;
    background-color: #009e66 !important;
    border-radius: 25px !important;
    margin-bottom: 25px !important;
}

.peque{
    color: #9f9f9f;
    font-size: 15px;
    margin-bottom: 28px;
}

.olp{
    font-size: 15px;
    color: #f0f0f0;
    margin: 0;
}
.op{
    color: #9f9f9f;
    font-size: 14px;
    width: auto;
    margin: 0;
}
