.daleh2 {
    color: white;
    font-weight: 600;
    margin-bottom: 22px;
}

.controles {
    background-color: #161616;
    margin-bottom: 25px;
}

.inputs {
    padding: 5.5px 20px;
    color: #9f9f9f;
    border-bottom: 1px solid #1d1d1d;
}

.inputs:hover {
    border-bottom: 1px solid #1d1d1d;
}

.enviar{
    text-transform: none;
    color: white;
    font-weight: 400;
    padding: 10px 26px;
    background-color: #009e66;
    border-radius: 25px;
    margin-bottom: 25px;
}

.peque{
    color: #9f9f9f;
    font-size: 15px;
    margin-bottom: 28px;
}

.olp{
    font-size: 15px;
    color: #f0f0f0;
    margin: 0;
}
.op{
    color: #9f9f9f;
    font-size: 14px;
    width: auto;
    margin: 0;
}
